<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <akka>
    <hocon>
        akka {
        logLevel = DEBUG
          actor {
            serializers {
              wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
            }
            serialization-bindings {
              "System.Object" = wire
            }
          }
           
          persistence {
              journal {
                  plugin = "akka.persistence.journal.sqlite"
                  sqlite {
                      connection-string = "Data Source=D:\\Development\\GitHub\\Akka.PersistentBackoff\\Akka.PersistentBackoff\\bin\\Debug\\journal-db.db; Version=3;",
                      auto-initialize = on
                  }
              }
              snapshot-store {
                  # Path to the snapshot store plugin to be used
                  plugin = "akka.persistence.snapshot-store.local"
              }
          }
        }
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>